body {
  background-image: url(./Assets/weather.png);
}
.full-container {
  margin: auto;
  width: 800px;
  max-width: 80%;
  background-color: rgb(137, 203, 218);
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px 2px;
}

.header {
  margin: auto;
  background-color: rgb(137, 203, 218);
  border-radius: 5px;
  padding: 5px;
  text-align: center;
}

.button {
  padding: 12px;
  border-radius: 5px;
  border: 2px solid rgb(255, 255, 255);
  margin: 12px 0px 0px 5px;
}

.search-container {
  margin: auto;
  background-color: rgb(158, 154, 154);
  border-radius: 5px;
  height: 75px;
  padding: 5px;
}
#data-user-input {
  margin: 12px 0px 0px 5px;
}

.result-container {
  margin: auto;
  background-color: rgb(221, 219, 219);
  border-radius: 5px;
}

* {
  box-sizing: border-box;
}

/* Create two equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 500px;
  text-align: center;
}
#weather-div {
  border-right: 2px solid whitesmoke;
  font-weight: bold;
}
#covid-div {
  border-left: 2px solid whitesmoke;
  font-weight: bold;
}

#recommend-div {
  margin: auto;
  background-color: rgb(158, 154, 154);
  height: 75px;
  border-radius: 5px;
  padding: 15px;
  text-align: center;
}

#data-recommendation-div {
  margin-top: -10px;
  font-weight: bold;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Risk Colors */

.high {
  color: red;
}
.medium {
  color: orange;
}
.low {
  color: green;
}

